<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
        integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
    <title>Interviewers Rubric</title>
    <style>
        body {
            background-image: linear-gradient(to right bottom, #f3f3f3, #f3f3f3, #F2E5D7);
            /* background-image: linear-gradient(to right bottom, rgb(253, 43, 43), rgb(194, 38, 38), rgb(223, 46, 46));; */
            /* background-color: #F06E78; */
        }

        .container {
            background-color: rgb(160, 218, 229);
        }

        #logo {
            width: 5em;
            margin-left: 3em;
        }
        #greeting {
            font-size: 1.5em;
        }

        span {
            /* background-color: yellow; */
            font-weight: bold;

        }

        nav {
            background-color: rgb(240, 110, 120, 0.89);
            /* margin-left: 3em; */
        }

        /* body {
            background-color: ;
        } */
    </style>
</head>

<body>


    <nav class="navbar navbar-light ">
        <a class="navbar-brand" href="https://bebraven.org/">
            <img src="braven-logo.png" id="logo" class="d-inline-block align-top" alt="bravenLogo">
        </a>
    </nav>

    <div class="container pb-3">



        <p id="greeting"> <span>Walt Disney</span>, please fill in the feed back for how <span>Travis</span> did in his mock
            interview?</p>
        <hr>

        <div class="row">
            <div class="container">
                <div class="col">
                    <p class="m-0">10 points - Exceeds or meets expectations</p>
                    <p class="m-0">8 points - Somewhat meets expectations</p>
                    <p class="m-0">6 points - Still developing this skill</p>
                    <p class="m-0">0 points - Does not meet expectations</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="col">

            <h5>1. The interviewee speaks professionally</h5>
            <div class="form-check">
                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Exceeds expecationss
                    </label>
                </div>
                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Somewhat meets expectations
                    </label>

                </div>
                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Still developing the skill
                    </label>
                </div>
                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Does not meet expecations
                    </label>
                </div>
            </div>

            <h5>2. The interviewee makes good eye contact</h5>
            <div class="form-check">

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Exceeds expecationss
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Somewhat meets expectations
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Still developing the skill
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Does not meet expecations
                    </label>
                </div>
            </div>

            <h5>3. The interviewee has a solid handshake</h5>
            <div class="form-check">

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Exceeds expecationss
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Somewhat meets expectations
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Still developing the skill
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Does not meet expecations
                    </label>
                </div>
            </div>

            <h5>4. The interviewee uses professional body language (e.g. sitting up straight, not fidgeting with hands).
            </h5>
            <div class="form-check">

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Exceeds expecationss
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Somewhat meets expectations
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Still developing the skill
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Does not meet expecations
                    </label>
                </div>
            </div>

            <h5>5. The Fellow uses specific and relevant examples of experiences that demonstrate required skills.</h5>
            <div class="form-check">

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Exceeds expecationss
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Somewhat meets expectations
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Still developing the skill
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Does not meet expecations
                    </label>
                </div>
            </div>

            <h5>6. The interviewee is clear and concise.</h5>
            <div class="form-check">

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Exceeds expecationss
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Somewhat meets expectations
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Still developing the skill
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Does not meet expecations
                    </label>
                </div>
            </div>

            <h5>7. The Fellow is clear and concise.</h5>
            <div class="form-check">

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Exceeds expecationss
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Somewhat meets expectations
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Still developing the skill
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Does not meet expecations
                    </label>
                </div>
            </div>


            <h5>8. The Fellow reinforces connections through compelling storytelling. </h5>
            <div class="form-check">

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Exceeds expecationss
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Somewhat meets expectations
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Still developing the skill
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Does not meet expecations
                    </label>
                </div>
            </div>


            <h5>9. The Fellow confidently persists in answering a question even if it is a difficult question. *</h5>
            <div class="form-check">

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Exceeds expecationss
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Somewhat meets expectations
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Still developing the skill
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Does not meet expecations
                    </label>
                </div>
            </div>

            <h5>10. The Fellow creates a personal connection with the interviewer (e.g. relates on personal background
                or a
                hobby).</h5>
            <div class="form-check">

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Exceeds expecationss
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Somewhat meets expectations
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Still developing the skill
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Does not meet expecations
                    </label>
                </div>
            </div>

            <h5>11. The Fellow offers to continue the connection past the interview.</h5>
            <div class="form-check">

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Exceeds expecationss
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Somewhat meets expectations
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Still developing the skill
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Does not meet expecations
                    </label>
                </div>
            </div>

            <h5>12. The Fellow is prepared with 2-4 strong questions for the interviewer demonstrating their interest in
                and
                research on the company and role.</h5>
            <div class="form-check">

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Exceeds expecationss
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Somewhat meets expectations
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Still developing the skill
                    </label>
                </div>

                <div class="col">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Does not meet expecations
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Extra comments</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <!-- <input type="text" value="submit"> -->
            <!-- <button class="btn btn-outline-primary">Submit</button> -->
            <input type="submit" class="col-10 ml-3">
            </form>

        </div>

</body>

</html>