{% include 'dashboard/headers.html' %}

 

    <div class="jumbotron" id="upcomingEvents">
        <div class="row">
            <div class="col-10 center-box  border  rounded pb-3 personalBox">
                <p class="lead">Upcoming Events</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Event</th>
                            <th scope="col">Location</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                        
                        <tr>
                            <th scope="row"><a href="/dashboard/events/{{event.id}}">{{event.name}}</a></th>
                            <td>{{event.location}}</td>
                            <td>{{ event.end_time|date:"f d/m/Y" }}</td>
                            <td>{{ event.start_time|date:"f d/m/Y" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>

    <!-- <div class="jumbotron" id="enrolledEvents">
        <div class="row">
            <div class="col-10 center-box  border  rounded pb-3 personalBox">
                <p>Enrolled Events</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Event</th>
                            <th scope="col">Location</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-success btn-sm" href="A SPECIFIC EVENT" role="button">Learn more</a>
            </div>
        </div>
    </div>


    <div class="jumbotron" id="pastEvents">

        <div class="row">
            <div class="col-10 center-box  border  rounded pb-3 personalBox">
                <p>Past Events</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Event</th>
                            <th scope="col">Location</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-success btn-sm" href="A SPECIFIC EVENT" role="button">Learn more</a>
            </div>
        </div>

    </div> -->


{% include 'dashboard/footers.html' %}